*{ 
    border:0;
    padding:0;
    box-sizing: border-box;
    }


.nav {
    position: sticky; top:0px;
    height: 70px;
    padding: 5px 20px 5px 20px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: right;
    background-color: #0fb2fd;
    
    
}

li,a {text-decoration: none;/*Quita el subrayado a los enlaces*/
    margin: 0px; 
    color: white;
    display: inline;
    padding: 10px;
} 

.h1,h6{
    margin: 20px 10px 20px 10px;
}

.HeaderContainer-Main{
    position: relative;
    min-height: 550px;
    width: 100%;
    background-image: linear-gradient(to right, #061922 0%, #2575fc 100%);
}
.HeaderContainer-Main_textimagebanner-wraper{
    position: relative; top: 25px;
    height: 95%;
    width: 100%;
    
}

.HeaderContainer-Main_textimagebanner-wraper_content{
    position: relative; top: 10px;
    height: 95%;
    width: 100%;
    margin: 0px 10px 0px 10px;
    align-items: center;
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    
    
}

.HeaderContainer-Main_textimagebanner-wraper_content-text{
    position: relative; 
    height: auto;
    width: auto;
    max-height: 550px;
    max-width: 500px;
    /*font-weight:900;*/
    font-size: 30px;
    margin: 0px 5px 0px 0px;
    border-radius: 5%;
    color:rgb(226, 237, 247);
    /* box-shadow: 0px 50px 70px rgba(0, 0, 0, 0.034),
              0px 10px 10px rgba(0,0,0,0.1);*/
    
   
   
}

.tryitnow{
    position: relative;
    border-radius: 5%;
    background-color:green;
    height: 38px;
    width: 130px;
    
    
}

.HeaderContainer-Main_textimagebanner-wraper_content-image{
    position: relative;
    height: auto;
    width: auto;
    max-height: 650px;
    max-width: 800px;
    min-height: 250px;
    min-width: 400px;
    margin: 0px 0px 0px 5px;
}
    @supports(object-fit: cover){
        .HeaderContainer-Main_textimagebanner-wraper_content-image img{
            
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center center;
            box-shadow: 0px 50px 70px rgba(0,0,0,0.3),
                  0px 10px 10px rgba(0,0,0,0.1);
        }
}


.body{
    align-items: center;
    justify-content: center;
    margin: 0%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


    .FirstSectChooseContainer_Main {
        min-height: 800px;
        width: 100%;
        background-color: rgb(245, 245, 245);
        
    }

    .FirstSectChooseContainer_Main-textimagebanner_wrapper{
        position: relative; top: 25px;
        min-height: 600px;
        width: 100%;
        padding: 20px 10px 20px 10px;
        
    }

    .FirstSectChooseContainer_Main-textimagebanner_wrapper-content{
        position: relative; top: 10px;
        height: 550px;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .FirstSectChooseContainer_Main-textimagebanner_wrapper-contect-text{
        position: relative; top: 10px;
        min-height: 510px;
        width: 100%;
        font-size: 30px;
        color: rgb(29, 29, 29);
        padding: 0px 80px 0px 80px;
        margin: 20px 0px 20px 0px;
        
    }   
        .FSC_M-tib_w-c-txt{
            position: relative;
            max-height: 400px;
            max-width: 500px;
        }



   
    .Footer{
        position: relative;  bottom: 0px;
        height: 350px;
        width: 100%;
       
        background-image: linear-gradient(-20deg, #2b5876 0%, #0c081d 100%);
        
        
    }

    .SocialNetworks{
        position: relative; top: 230px;
        
    }
    .Copyright{
        position: relative; top: 220px;
        text-align: center;
        color: white;
        
        
    }

    .SingUpContainer-Main{
        position: relative;
        height: 65%;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 20px;

    }
    .SingUpContainer-Main-wrapper{
        align-items: center;
        position: relative;
        padding: 0%; 
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        height: auto;
        max-height: fit-content;
        width: 450px;
        min-height: 520px;
        min-width: 300px;
        color: white;
        border-radius: 10%;
        margin: 10px;
        background-color: rgb(32, 35, 37);

    }  
    
    .SingUpContainer-Main-wrapper-content{
        position: relative;
        height: 500px;
        width: 90%;
    }
    
    
    .SingUpForm-Sizer{
        position: relative; top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 10px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        font-family: Arial, 'Arial Narrow Bold', sans-serif;
        
    

    }

    

